#cta{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("../img/bg-home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}