//CORES
$color1: #F29F05;
$color2: #5F5F5F;
$color3: #fff;
//BACKGROUND COLOR
$bg-color1: rgba(24, 24, 24, 0.8);

//FONT-WEIGHT
$font-light: 200;
$font-bold: 500;

$theme-colors: ("color1": $color1,
    "color2": $color2,
    "color3": $color3,
    "bg-color1": $bg-color1,
);

//BOOTSTRAP
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/utilities";

//EXTENDED
%title {
    margin: 0 0 2.5em 0;
    padding: 0 0 0 2.25em;
    border-left: 6px solid $color1;
    h1 {
        margin: 0;
        padding: 0;
        font: {
            style: normal;
            size: 3rem;
            weight: $font-light;
        }
        color: $color2;
        strong {
            font: {
                size: 3.625rem;
                weight: $font-bold;
            }
            color: inherit;
        }
    }
}
